# Project exclude paths
/out/
/Problem1/target/
/Problem2/target/
/Problem3/target/
/Problem4/target/
/Problem5/target/
/Problem7/target/
/Problem8/target/
/Problem9/target/
/Problem10/target/
/Problem11/target/
/Problem12/target/
/Problem13/target/